{{> navbar}}
<br />

<h1>Ingres un productos</h1>

<strong id="msg"></strong>

<form id="addForm" onsubmit="newProduct(); return false;">
    <table>
        <tr>
            <th><strong>Nombre</strong></th>
            <th><strong>Código</strong></th>
            <th><strong>Precio</strong></th>
        </tr>
        <tr>
            <td><input type="text" id="nombre" name="nombre" required="true"></td>
            <td><input type="number" id="codigo" name="codigo" required="true"></td>
            <td><input type="number" id="precio" name="precio" required="true"></td>
        </tr>
        <tr>
            <th><strong>Stock</strong></th>
            <th><strong>Foto</strong></th>
        </tr>
        <tr>
            <td><input type="number" id="stock" name="stock" required="true"></td>
            <td><input type="text" id="foto" name="foto" required="true"></td>
        </tr>
        <tr>

        <tr>
            <textarea name="textarea" id="descripcion" name="descripcion" rows="10" cols="50"
                required="true">Descripcion</textarea>
        </tr>
    </table>
    <input type="submit">
</form>


<script>
    const newProduct = () => {
        const nombre = document.getElementById("nombre").value;
        const codigo = document.getElementById("codigo").value;
        const precio = document.getElementById("precio").value;
        const stock = document.getElementById("stock").value;
        const timestamp = new Date();
        const foto = document.getElementById("foto").value;
        const descripcion = document.getElementById("descripcion").value;
        const msg = document.getElementById("msg")
        const data = {
            nombre: nombre,
            codigo: codigo,
            precio: precio,
            stock: stock,
            timestamp: timestamp,
            foto: foto,
            descripcion: descripcion
        };
        fetch('/api/productos/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                msg.innerText = "Se ha guarado con exito";
                setTimeout(() => { location.reload() }, 2000);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    };
</script>