{{> heder}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/api/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/api/carrito">Carrito</a>
                </li>
            </ul>
            <div class="d-flex">
                <p>{{username}}</p>
            </div>
            <div class="d-flex">
                <a class="nav-link" aria-current="page" href="/logout">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</nav>