{{> navbar}}

<br>

<div class="row">
    <div class="col-2 p-5">
        <h3>Chat</h3>
        <p>Envie sus mensajes.</p>
        <form onsubmit="enviarMsg();return false;">
            <input id="input-email" placeholder="E-mail" required="true" value="{{username}}" readonly />
            <textarea class="mt-1" required="true" id="input-msg" placeholder="Mensaje" cols="30" rows="10"></textarea>
            <input class="mt-1" type="submit" value="ENVIAR!" />
        </form>
    </div>
    <div class="col-8 p-5">
        <div id="div-list-msgs"></div>
    </div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="./index.js"></script>